<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studio About</title>
</head>
<body>
<%= require('html-loader!../../layout/header.html').default %>
<main>
    <%= require('html-loader!../../components/nav.html').default %>
    <section class="about-welcome">
        <div class="container">
            <div class="about-welcome__wrapper" style="background-image: url(./img/about-welcome.png)">
                <div class="about-welcome__info">
                    <div class="about-welcome__title alter-title">
                        Производство дизайнерских радиаторов DRAFTMETALL
                    </div>
                    <div class="about-welcome__num-features">
                        <div class="about-welcome__num">
                            <p>Работаем c</p>
                            <span>2017 г</span>
                        </div>
                        <div class="about-welcome__num">
                            <p>Специалистов в штате</p>
                            <span>35</span>
                        </div>
                        <div class="about-welcome__num">
                            <p>Клиентов по России и странам СНГ</p>
                            <span>2 000</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cubes-info">
        <div class="container">
            <div class="cubes-info__wrapper">
                <div class="cubes-info__photos">
                    <span class="video-icon"></span>
                    <div class="cubes-info__first">
                        <img src="./img/cube-video-prev.png" alt="">
                    </div>
                    <div class="cubes-info__label cubes-label">
                        <div class="cubes-label__title">Видео протокол испытаний</div>
                        <div class="cubes-label__text">Испытания аккредитованной лаборатории ООО “ИЦ “КСИС” 2024 год
                        </div>
                        <a href="#" class="cubes-label__btn btn-arrow">
                            <span>Смотреть</span></a>
                    </div>
                    <div class="cubes-info__photo">
                        <img src="./img/cube-photo.jpg" alt="">
                    </div>
                </div>
                <div class="cubes-info__text">
                    <h2>Наше производство</h2>
                    <p>По независимой оценке ассоциаций производителей радиаторов отопления мы входим в список лучших
                        производителей России.</p>
                    <p>Также, благодаря собственному производству, выверенной логистике и оптимизированной
                        технологической цепочки - наши цены ниже рыночных без потери качества продукции.</p>
                    <p>Также, благодаря собственному производству, выверенной логистике и оптимизированной
                        технологической цепочки - наши цены ниже рыночных без потери качества продукции.Также, благодаря
                        собственному производству, выверенной логистике и оптимизированной технологической цепочки -
                        наши цены ниже рыночных без потери качества продукции.</p>
                </div>
            </div>
        </div>
    </section>
</main>
<%= require('html-loader!../../layout/footer.html').default %>
</body>
</html>
