.breadcrumbs {
  margin:30px 0 24px;
  font-size: 16px;
  line-height: 24px;

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    a {
      position: relative;
      display: flex;
      align-items: center;
      color:#5D6C7B;
      transition: color .3s;

      &::after{
        content:'/';
        margin:0 4px;
      }
    }

    &:hover{
      a{
        color:$darkBlue;
      }
      .breadcrumbs__icon{
        svg path{
          fill:$darkBlue;
        }
      }
    }
  }

  &__icon {
    display: flex;
    margin-right: 5px;
    margin-top: -3px;
    svg path{
      transition: fill .3s;
    }
  }
}