<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studio About</title>
</head>
<body>
<%= require('html-loader!../../layout/header.html').default %>
<main>
    <section class="welcome">
        <div class="welcome__photo">
            <img src="./img/welcome-picture.png" alt="">
        </div>
    </section>
    <section class="text-block">
        <div class="container">
            <div class="text-block__wrapper">
                <h2 class="text-block__title">О компании</h2>
                <div class="text-block__content">
                    <p>Откройте для себя широкий ассортимент продукции ООО «Чизмастер». Мы гордимся тем, что можем
                        предложить вам широкий ассортимент сыров и восхитительного сливочного масла. Наши продукты
                        изготовлены с использованием самых современных технологий из отборного молока.</p>
                    <p>Откройте для себя широкий ассортимент продукции ООО «Чизмастер». Мы гордимся тем, что можем
                        предложить вам широкий ассортимент сыров и восхитительного сливочного масла. Наши продукты
                        изготовлены с использованием самых современных технологий из отборного молока.</p>
                    <p>Откройте для себя широкий ассортимент продукции ООО «Чизмастер». Мы гордимся тем, что можем
                        предложить вам широкий ассортимент сыров и восхитительного сливочного масла. Наши продукты
                        изготовлены с использованием самых современных технологий из отборного молока.</p>
                    <p>Откройте для себя широкий ассортимент продукции ООО «Чизмастер». Мы гордимся тем, что можем
                        предложить вам широкий ассортимент сыров и восхитительного сливочного масла. Наши продукты
                        изготовлены с использованием самых современных технологий из отборного молока.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="brands">
        <div class="container">
            <div class="brands__wrapper">
                <h2 class="brands__title">
                    наши бренды
                </h2>
                <div class="brands__slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="./img/brand1.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="./img/brand2.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="./img/brand3.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="./img/brand4.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="./img/brand5.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="./img/brand1.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="./img/brand2.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="./img/brand3.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="./img/brand4.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="slider-prev"></div>
                    <div class="slider-next"></div>
                    <div class="brands__pagination cheese-pagination cheese-pagination--white"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="recently-viewed">
        <div class="container">
            <div class="recently-viewed__wrapper">
                <h2 class="recently-viewed__title">Вы недавно смотрели</h2>
                <div class="recently-viewed__slider">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="slider-card">
                                    <a href="#" class="slider-card__photo">
                                        <img src="./img/slider-card1.png" alt="">
                                    </a>
                                    <div class="slider-card__info">
                                        <a class="slider-card__link" href="#">
                                            Сыр плавленый «Сливочный»
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="slider-card">
                                    <a href="#" class="slider-card__photo">
                                        <img src="./img/slider-card2.png" alt="">
                                    </a>
                                    <div class="slider-card__info">
                                        <a class="slider-card__link" href="#">
                                            Сыр «VAN GOLD
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="slider-card">
                                    <a href="#" class="slider-card__photo">
                                        <img src="./img/slider-card3.png" alt="">
                                    </a>
                                    <div class="slider-card__info">
                                        <a class="slider-card__link" href="#">
                                            Масло сладкосливочное несоленое 82,5%
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="slider-card">
                                    <a href="#" class="slider-card__photo">
                                        <img src="./img/slider-card4.png" alt="">
                                    </a>
                                    <div class="slider-card__info">
                                        <a class="slider-card__link" href="#">
                                            Сыр «VAN GOLD BENUA
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="slider-card">
                                    <a href="#" class="slider-card__photo">
                                        <img src="./img/slider-card5.png" alt="">
                                    </a>
                                    <div class="slider-card__info">
                                        <a class="slider-card__link" href="#">
                                            Сыр плавленый сладкий с клюквой
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="slider-card">
                                    <a href="#" class="slider-card__photo">
                                        <img src="./img/slider-card1.png" alt="">
                                    </a>
                                    <div class="slider-card__info">
                                        <a class="slider-card__link" href="#">
                                            Сыр плавленый «Сливочный»
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-prev slider-prev--green"></div>
                    <div class="slider-next slider-next--green"></div>
                    <div class="recently-viewed__pagination cheese-pagination cheese-pagination--green"></div>
                </div>
            </div>
        </div>
    </section>
</main>
<%= require('html-loader!../../layout/footer.html').default %>
</body>
</html>
