.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $darkBlue;
  border: 1px solid $darkBlue;
  border-radius: 10px;
  padding: 13px 20px;
  cursor: pointer;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  transition: background-position .3s, color .3s;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    background: radial-gradient(50% 50% at 50% 50%, #494671 0%, #282739 68%);
    background-position: 50% 50%; /* позиция для hover */
    color: #fff;
    opacity: 0;
    transition: opacity .3s;
  }

  &:hover {
    color: #fff;
    border: 1px solid #282739;

    &::before {
      opacity: 1;
    }
  }

  &:active {
    background-color: #282739;
    color: #fff;
  }

  &--filled {
    background-color: $orange;
    color: #fff;

    &:hover {
      background-color: transparent;
      color: $orange;
    }
  }

}

.btn-arrow {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;

  span {
    border-bottom: 1px solid $darkBlue;
    padding-bottom: 1px;
  }

  &::after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 7px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.2249 4.55778C11.1079 4.67497 11.0421 4.83382 11.0421 4.99945C11.0421 5.16508 11.1079 5.32393 11.2249 5.44112L15.1582 9.37445H3.33323C3.16747 9.37445 3.0085 9.4403 2.89129 9.55751C2.77408 9.67472 2.70823 9.83369 2.70823 9.99945C2.70823 10.1652 2.77408 10.3242 2.89129 10.4414C3.0085 10.5586 3.16747 10.6244 3.33323 10.6244H15.1582L11.2249 14.5578C11.1635 14.615 11.1142 14.684 11.0801 14.7607C11.0459 14.8373 11.0276 14.9201 11.0261 15.004C11.0246 15.0879 11.04 15.1713 11.0715 15.2491C11.1029 15.3269 11.1497 15.3976 11.209 15.457C11.2684 15.5163 11.3391 15.5631 11.4169 15.5946C11.4947 15.626 11.5781 15.6414 11.662 15.6399C11.7459 15.6385 11.8287 15.6201 11.9053 15.5859C11.982 15.5518 12.051 15.5025 12.1082 15.4411L17.1082 10.4411C17.2253 10.3239 17.291 10.1651 17.291 9.99945C17.291 9.83382 17.2253 9.67497 17.1082 9.55778L12.1082 4.55778C11.991 4.44074 11.8322 4.375 11.6666 4.375C11.5009 4.375 11.3421 4.44074 11.2249 4.55778Z' fill='%23282739'/%3e%3c/svg%3e ");
    transition: margin-left .3s;
  }

  &:hover {
    &::after {
      margin-left: 16px;
    }
  }
}
