@mixin hover-effect($opacity: .7, $transition-duration: .3s) {
  transition: opacity $transition-duration;
  &:hover {
    opacity: $opacity;
  }
}


@keyframes slide-down {
  0% {
    top: -100%
  }
  100% {
    top: 0
  }
}
