@import "fonts";
@import "null";
@import "mixins";
@import "./vendors/swiper";

$orange: #FC880D;
$green: #227650;
$gold: #9E7E4B;
$darkBlue: #282739;
$laptop: 1360px;
$tablet: 1080px;
$tabletS: 991.92px;
$mobile: 767.92px;
$mobileMedium: 575.98px;
$mobileMini: 400px;
@import "forms";
@import "typegr";
@import "btns";
@import "modal";
@import "./layout/header";
@import "./layout/footer";
@import "./components/nav";


html {
  scroll-behavior: smooth;
}

body.blocked,
body.lock {
  overflow: hidden;
}

body.overlayed {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: .2;
    z-index: 100;
    cursor: pointer;
  }
}

.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1680px;
  @media (max-width: 1760px) {
    max-width: 100%;
    padding: 0 40px;
  }
  @media (max-width: 1080px) {
    max-width: 1000px;
    padding: 0;
  }
  @media(max-width: 1040px) {
    max-width: 100%;
    padding: 0 20px;
  }
  @media (max-width: $mobileMedium) {
    padding: 0 16px;
  }
}

body {
  font-family: "Jost", sans-serif;
  color: $darkBlue;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  @media (max-width: $tablet) {
    font-size: 22px;
    line-height: 30px;
  }
  @media (max-width: $tablet) {
    font-size: 20px;
    line-height: 28px;
  }
  @media (max-width: $mobile) {
    font-size: 16px;
    line-height: 24px;
  }
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.about-welcome {
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 556px;
    border-radius: 16px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: $mobileMedium) {
      min-height: 126vw;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 30%;
      background: linear-gradient(73.21deg, #6F73EE 7.37%, rgba(111, 115, 238, 0) 80.02%);
      @media (max-width: $tabletS) {
        bottom: -30%;
        right: -10%;
        background: linear-gradient(27.49deg, #6F73EE 29.64%, rgba(111, 115, 238, 0) 85.31%);
      }
    }
  }

  &__info {
    position: relative;
    max-width: 680px;
    z-index: 1;
    color: #fff;
    padding: 70px 50px;
    @media (max-width: $tabletS) {
      padding: 32px;
      max-width: 510px;
    }
    @media (max-width: $mobileMedium) {
      max-width: 100%;
      padding: 16px;
    }

  }

  &__title {
    margin-bottom: 24px;
  }

  &__num-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: $mobileMedium) {
      margin-bottom: -12px;
    }
  }

  &__num {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    height: auto;
    @media (max-width: $mobileMedium) {
      margin-bottom: 12px;
    }

    p {
      font-size: 16px;
      line-height: 16px;
      margin-bottom: auto;
      @media (max-width: $mobileMedium) {
        font-size: 14px;
        line-height: 16px;
      }
    }

    span {
      font-size: 24px;
      line-height: 34px;
      font-weight: 600;
    }
  }
}

.cubes-info {
  margin: 80px 0 57px;
  @media (max-width: $tabletS) {
    margin: 74px 0 74px;
  }
  @media (max-width: $mobile) {
    margin: 50px 0;
  }

  &__wrapper {
    display: flex;
  }

  &__photos {
    width: calc(60% - 100px);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-gap: 20px;
  }

  &__first {
    position: relative;
    grid-row: 1/4;
    padding-top: 35px;
    padding-left: 30px;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      width: 85%;
      height: 85%;
      background-color: #F6F6F6;
      border-radius: 16px;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: -2;
      top: 20%;
      left: 30px;
      bottom: 0;
      right: 0;
      background-color: #eeeded;
      border-radius: 16px;
      box-shadow: -10px -7px 38px 30px #ADAEB06B;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 16px;
      overflow: hidden;
    }
  }

  &__label {
    grid-row: 1;
    grid-column: 2;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 10px 10px 0px #ADAEB06B;
    padding: 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__photo {
    grid-row: 2/4;
    grid-column: 2;
    border-radius: 16px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    width: 40%;
    flex-shrink: 0;
    margin-left: 100px;
  }
}

.cubes-label {
  &__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.72px;
    margin-bottom: 16px;
  }
}

.video-icon{
  position: absolute;
  left: 50%;
  top:50%;
  transform:translate(-50%, -50%);
}